*,
::before,
::after {
  box-sizing: border-box;
}
body {
  background-color: rgb(48, 42, 42);
}
.container {
  background-color: aliceblue;
  width: 600px;
  border-radius: 10px;
  padding: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}
.cercle {
  width: 200px;
  height: 200px;
  background: url(ressources/img1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  float: left;
  margin: 0 30px 20px 0;
  shape-outside: circle();
}
